body {
    font-family: 'Gabarito', cursive;
    font-family: 'Julius Sans One', sans-serif;
        background-color: #F6F0E9;
        color: #0E0099;
}
    h1,h3,h4,h5,h6 {
    font-family:"Gabarito";
    font-size: 40pt;
    text-align: center;
            
}

h2{
    font-family:"Gabarito";
    font-size: 25pt;
    text-align: center;

}

p {
 font-size: 15pt;

}

header{
    text-align: center;
}

#hero, footer {
    color: #554AC7;
    border: 6px solid #554AC7;
    background-color: #C79F85;
    text-align: center;
    padding: 10px;
}

#hero img{
    width: 300px;
}

#bio{
    text-align: center;
}

#hobbies{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


#Gallery{
    margin: 10px;
    padding: 10px;
    border: 2px solid #554AC7;
    text-align: center;
}



#lit{
    margin: 30px;
    padding: 10px;
    border: 6px solid #554AC7;
    margin-bottom: auto;
    text-align: center;
}

#lit div {
    max-width: 100%;
    columns: 20rem;
}

#video{
    text-align: center;
    border: 6px solid black;
}

@media screen and (min-width: 60 em);{

}

figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

figure img{
    width: 100%;
}

figcaption {
display: flex;
justify-content: center;
align-items: center;
font-size: 15pt;
margin-left: 1rem;

}
@media screen and (min-width: 100em){
}    
#Gallery {
    display: grid;
grid-template-columns: 1fr 1fr 1fr;

}     

hr{
    display: none;
}

#Gallery h2 {

    grid: 1/-1;
}

/*Contact Form*/

#FormElements {

    display: grid;
    row-gap: 1em;
}

#contact {

    padding: .5 rem;
    max-width: 600px;
    margin: 2rem auto;
}

#fieldset {

border: 2px solid black;
margin-top: 1em;
margin-bottom: 1em;
}

legend {

    background-color: #554AC7;
    color: #F6F0E9;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
 
    padding: .5em;
    font-size: 1em;
    
}

#contact ul {

    list-style: none;
    padding: opx;
}


#contact li {
  margin: 1rem;
}

#contact button{

 background-color: #554AC7;
    color: #F6F0E9;
    border: black;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}
